@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: "Manrope", serif;
    background-color: var(--color-primary-background);
    scroll-behavior: smooth;
}

:root {
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.750rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.250rem;
    --font-size-h6: 1rem;
    
    --font-size-d4: 3.5rem;
    --font-size-d6: 2.650rem;
    
    --font-size-lead: 1.5rem;
    --font-size-xl: 1.250rem; 
    --font-size-large: 1.125rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.875rem;
    --font-size-xs: 0.750rem;

    --color-primary-background: #ffffff;
    --color-secondary-background: #F3F6FF;
    --color-text-gray900: #0B0F19;
    --color-text-gray800: #33354D;
    --color-text-gray700: #565973; 
    --color-text-gray600: #9397AD;
    --color-text-gray500: #B4B7C9;
    --color-text-gray400: #D4D7E5;
    --color-text-gray100: #F3F6FF;
    --color-brand-primary: #6366F1;
    --color-contact-green: #22C55E;
    --color-store-badge-background: #0B0F19;
    --color-button-text: #ffffff;
    --color-brands-logo: #B4B7C9; 
    --color-brands-logo-border: #E2E5F1;
    --color-features-icon-background: rgba(99, 102, 241, 0.08);
    --color-hover-background: rgba(0, 0, 0, 0.1);

    /* --------------- MOBILE COLOR ---------------*/

    --color-mobile-dark-text: #131022;
    --color-mobile-gray-text: #585C7B;
    --color-mobile-chevron: #3E4265;

}


/* ------------------------------ Header ------------------------------ */

button {
    border: none;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    max-width: 1320px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.darkmode-text {
    font-size: var(--font-size-small);
    color: var(--color-text-gray700);
    font-weight: 600;
}

.darkmode-toggle {
    --_w: 40px;
    --_h: 20px;

    width: var(--_w);
    height: var(--_h);
    height: 20px;
    flex-shrink: none;
    position: relative;
    display: inline-block;

    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .darkmode-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #bfbfbf;
        border-radius: 100vw;
        box-shadow: inset 0 0 3px black;
        transition: 400ms;
    }

    .darkmode-slider::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        aspect-ratio: 1;
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 0 0 5px black;
        transition: 400ms;
    }

    input[type="checkbox"]:checked + .darkmode-slider::before {
        left: calc(100% - var(--_h));
        background-color: var(--color-primary-background);
    }
    input[type="checkbox"]:checked + .darkmode-slider {
        background-color: var(--color-secondary-background);
    }
}

.sign-in-btn {
    margin-left: 1rem;
}

.sign-in-text {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-button-text);
    background-color: var(--color-brand-primary);
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
    font-size: var(--font-size-small);
    font-weight: 200;
}


/* ------------------------------ Hero ------------------------------ */

.hero-section {
    display: flex;
    justify-content: center;
    background: var(--color-primary-background);
    background: linear-gradient(178deg,rgba(255, 255, 255, 0.07) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    max-width: 1320px;
}

.content-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2rem;
}

.hero-heading {
    font-size: var(--font-size-d4);
    color: var(--color-text-gray900);
}

.hero-paragraph {
    font-size: var(--font-size-large);
    color: var(--color-text-gray700);
    width: 480px;
    line-height: 160%;
}

.store-badges-container {
    display: flex;
    gap: 2rem;
}

.store-badge-box {
    border: none;
}

.store-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-store-badge-background);
    text-decoration: none;
    color: var(--color-button-text);
    border-radius: 8px;
    height: 52px;
    width: 180px;
}

.store-badge-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: .5rem;
    gap: 0.2rem;
    line-height: 110%;
}

.badge-text-top {
    font-size: 0.73rem;
}    

.badge-text-bottom {
    font-size: var(--font-size-xl);
}

.hero-image {
    display: block;
    width: 100%;
    height: auto;
}


/* ------------------------------- Brands ------------------------------- */

.brands-section {
    display: flex;
    justify-content: center;
}

.brands-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    width: 100%;
    margin-top: 5rem;
}

.brands-box {
    display: grid;
    place-items: center;
    border: 1px solid var(--color-brands-logo-border);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 100px;
}


/* ------------------------------- Features ------------------------------ */

.features-section {
    display: flex;
    justify-content: center;
}

.features-container {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    width: 100%;
    margin: 8rem 0;
}

.features-content {
    display: flex;
    flex-direction: column;
    max-width: 750px;
}
    
.features-heading {
    font-size: var(--font-size-h1);
    color: var(--color-text-gray900);
    margin-bottom: 1rem;
}

.features-paragraph {
    font-size: var(--font-size-large);
    color: var(--color-text-gray600);
    line-height: 160%;
    margin-bottom: 4rem;
}

.features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    max-width: 750px;
}

.feature-group {
    display: flex;
    gap: 1.5rem;
}

.features-icon {
    display: block;
    background-color: var(--color-features-icon-background);
    padding: 0.8rem 1rem;
    border-radius: 8px;      
}

.feature-text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.feature-h5 {
    font-size: var(--font-size-h5);
    color: var(--color-text-gray900);
    font-weight: 800;
    }

.feature-p {
    font-size: var(--font-size-medium);
    color: var(--color-text-gray700);
    line-height: 160%;
    max-width: 260px;
}


/* ------------------------------ How Does It Work ------------------------------ */

.how-does-it-work-section {
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary-background);
    padding: 4rem 0;
}

.how-does-it-work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hdiw-heading {
    font-size: var(--font-size-h1);
    font-weight: 800;
    color: var(--color-text-gray900);
}

.hdiw-images {
    display: flex;
    gap: 5rem;
}

.hdiw-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hdiw-h4 {
    font-size: var(--font-size-h4);
    color: var(--color-text-gray900);
    font-weight: 800;
}

.hdiw-paragraph {
    font-size: var(--font-size-medium);
    color: var(--color-text-gray700);
    max-width: 640px;
    text-align: center;
    line-height: 160%;
}


/* ------------------------------ App Features ------------------------------ */

.app-features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 1rem;
    gap: 5rem;
}

.app-features-top-container {
    display: flex;
    align-items: center;
    gap: 7rem;
}

.app-features-1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 400px;

    .app-features-first-heading {
        font-size: var(--font-size-h2);
        color: var(--color-text-gray900);
        max-width: 420px;
    }

    .app-features-list {
        font-size: var(--font-size-medium);
        color: var(--color-text-gray700);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;

    }
    
    .app-features-checkbox {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid var(--color-brand-primary);
        position: relative;
    }

    .app-features-checkbox::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 5px;
        height: 9px;
        border-right: 2px solid var(--color-brand-primary);
        border-bottom: 2px solid var(--color-brand-primary);
        transform: translate(-50%, -50%) rotate(45deg);
    }
}
    
.learn-more-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-brand-primary);
    border-radius: 5px;
    cursor: pointer;
    width: 160px;
    height: 45px;
}
    
.learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
    font-size: var(--font-size-small);
    color: var(--color-primary-background);

    .right-arrow-icon {
        width: 20px;
        height: 20px;
    }
}

.app-features-bottom-container {
    display: flex;
    align-items: center;
}

.app-features-2 {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .app-features-second-heading {
        font-size: var(--font-size-h2);
        color: var(--color-text-gray900);
        max-width: 530px;
    }

    .app-features-2-wrapper {
        display: flex;
        gap: 2.5rem;
    }

    .app-features-2-box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .app-features-icon {
        display: block;
        background-color: var(--color-features-icon-background);
        padding: 0.8rem 1rem;
        border-radius: 8px;  
    }

    .app-features-2-text {
        max-width: 240px;
        font-size: var(--font-size-medium);
        color: var(--color-text-gray700);
    }
} 



/* ------------------------------ Testimonials ------------------------------ */

.testimonials-section {
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary-background);
}

.testimonials-container {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
    max-width: 1320px;
    width: 100%;
}

.testimonials-heading {
    font-size: var(--font-size-h1);
    color: var(--color-text-gray900);
    max-width: 310px;
    margin-bottom: 5rem;
}

.testimonials-boxes {
    display: flex;
    gap: 1.5rem;
}

.testimonials-box {
    background-color: var(--color-primary-background);
    max-width: 420px;
    border-radius: 8px;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .testimonials-quotation {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-brand-primary);
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 4px;
        position: absolute;
        left: 5%;
        top: -10%;

        .quotation-icon {
            height: 1.25rem;
            width: 1.25rem;
        }
    }

    .testimonials-inner-box {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .testimonials-text {
            font-size: var(--font-size-large);
            color: var(--color-text-gray700);
        }

        .testimonials-user-box {
            display: flex;
            gap: 1rem;

            .testimonials-user {

                .testimonials-user-name {
                    font-size: var(--font-size-medium);
                    font-weight: 700;
                    color: var(--color-text-gray900);
                    margin-bottom: 0.1rem;
                }

                .testimonials-user-job {
                    font-size: var(--font-size-small);
                    color: var(--color-text-gray600);
                }
            }
        }
    }
}

/* ------------------------------ FAQ ------------------------------ */

.faq-section {
    display: flex;
    justify-content: center;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    width: 100%;
    padding: 6rem 0;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.faq-heading {
    font-size: var(--font-size-h2);
    color: var(--color-text-gray900);
    max-width: 340px;
}

.contact-text {
    font-size: var(--font-size-large);
    color: var(--color-text-gray700);
    max-width: 400px;
    margin-bottom: 1rem;
}

.contact-button-container {
    border: none;
}

.contact-us-button {
    padding: 1rem 2rem;
    background-color: var(--color-brand-primary);
    font-size: var(--font-size-small);
    color: var(--color-primary-background);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.contact-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.contact-phone-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 165px;
    gap: 1rem;
    border: 1px solid var(--color-brands-logo-border);
    border-radius: 8px;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    font-size: var(--font-size-small);
    color: var(--color-text-gray700);

    .phone-icon {
        width: 1.750rem;
    }

    .phone-contact-us {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        gap: 0.5rem;
        text-decoration: none;
        color: var(--color-brand-primary);
        font-size: var(--font-size-small);
        font-weight: 600;

        .contact-purple-arrow-icon {
            font-size: 1.5rem;
        }
    }

}
.contact-message-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 165px;
    gap: 1rem;
    border: 1px solid var(--color-brands-logo-border);
    border-radius: 8px;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    font-size: var(--font-size-small);
    color: var(--color-text-gray700);

    .message-icon {
        width: 1.750rem;
    }

    .message-contact-us {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        gap: 0.5rem;
        text-decoration: none;
        color: var(--color-contact-green);
        font-size: var(--font-size-small);
        font-weight: 600;

        .contact-green-arrow-icon {
            font-size: 1.250rem;
        }
    }
}

.accordion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    margin-bottom: 2rem;
    border-radius: 8px;
    gap: 1rem;
}

.accordion {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.accordion-input {
    display: none;
}

.accordion-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: var(--font-size-medium);
    transition: background 0.1s;
}

.accordion-label:hover {
    background: var(--color-hover-background);
    border-radius: 8px;
}

.accordion-icon {
    display: block;
    position: relative;
    transition: transform 0.3s ease;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: var(--color-text-gray100);
}

.chevron-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-mobile-chevron);
    font-size: 12px;
}

.accordion-input:checked + .accordion-label .accordion-icon {
    transform: rotate(180deg);
    background-color: var(--color-brand-primary);
    position: relative;

    .chevron-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-primary-background);
    }
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    font-size: var(--font-size-small);
    color: var(--color-mobile-gray-text);

}

.accordion-input:checked + .accordion-label + .accordion-content {
    max-height: 100%;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

/* ------------------------------ Subscribe ------------------------------ */

.subscribe-section {
    display: flex;
    justify-content: center;
}

.subscribe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary-background);
    border-radius: 8px;
    width: 100%;
    max-width: 1320px;
    padding: 4rem 0;
    gap: 4.5rem;
}

.subscribe-heading-image {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 530px;
}

.subscribe-heading {
    font-size: var(--font-size-h4);
    font-weight: 800; 
}

.input-subscribe-container {
    display: flex;
    width: 475px;
}

.input-wrapper {
    border: 1px solid var(--color-brands-logo-border);
    border-radius: 5px 0 0 5px;
    padding: 0.75rem 0 0.75rem 1rem;
    background-color: var(--color-primary-background);
    transition: border-color 0.3s ease;
    height: 52px;
    width: 100%;
}

.input-wrapper:focus-within {
    border-color: var(--color-brand-primary);
}

.input-icon {
    color: var(--color-text-gray600);
    font-size: var(--font-size-large);
    margin-right: 0.5rem;
}

.email-input {
    border: none;
    outline: none;
    flex: 1;
    font-size: var(--font-size-medium);
    color: var(--color-text-gray900);
    margin-top: 3px;
    overflow: hidden;
    width: 90%;
}

.email-input::placeholder {
    color: var(--color-text-gray500); 
    font-size: var(--font-size-medium);
}

.subscribe-button {
    display: block;
    height: 52px;
    width: 115px;
    padding: 1rem;
    font-size: var(--font-size-medium);
    text-decoration: none;
    border-radius: 0 5px 5px 0;
    color: var(--color-primary-background);
    background-color: var(--color-brand-primary);
    cursor: pointer;
}


/* --------------------------------- FOOTER ---------------------------- */

.footer-text {
    text-align: center;
    font-size: var(--font-size-small);
    color: var(--color-text-gray600);
    padding: 3rem 0;
}