@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: "Manrope", serif;
    background-color: var(--color-primary-background);
    scroll-behavior: smooth;
}

:root {
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.750rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.250rem;
    --font-size-h6: 1rem;
    
    --font-size-d4: 3.5rem;
    
    --font-size-lead: 1.5rem;
    --font-size-xl: 1.250rem; 
    --font-size-large: 1.125rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.875rem;
    --font-size-xs: 0.750rem;

    --color-primary-background: #ffffff;
    --color-secondary-background: #F3F6FF;
    --color-text-gray900: #0B0F19;
    --color-text-gray700: #565973; 
    --color-text-gray600: #9397AD; 
    --color-brand-primary: #6366F1;
    --color-store-badge-background: #0B0F19;
    --color-store-badge-text: #ffffff;
    --color-brands-logo: #B4B7C9; 
    --color-brands-logo-border: #E2E5F1;
    --color-features-icon-background: rgba(99, 102, 241, 0.08)

}

/* ---------------------------------------- MOBILE ---------------------------------------- */


/* ------------------------------ Header ------------------------------ */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    
    .actions {
        display: flex;
        align-items: center;
    }

    .darkmode-text {
        display: none;
    }

    .sign-in-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-brand-primary);
        border-radius: 4px;
        padding: 10px 20px;
    }

    .sign-in-icon {
        display: block;     
    }
}


/* ------------------------------ Hero ------------------------------ */

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;

    .hero-heading {
        text-align: center;
        line-height: 130%;
        font-size: var(--font-size-d4);
        color: var(--color-text-gray900);
        margin: 4rem 1rem;
        max-width: 530px;
    }

    .hero-paragraph {
        text-align: center;
        margin: 0 1rem 6rem 1rem;
        font-size: var(--font-size-large);
        color: var(--color-text-gray700);
        line-height: 160%;
        max-width: 480px;
    }

    .store-badges-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80%;
        max-width: 480px;
    }

    .store-badge-box {

    }

    .store-badge {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-store-badge-background);
        text-decoration: none;
        line-height: 100%;
        color: var(--color-store-badge-text);
        border-radius: 8px;
        height: 52px;
    }

    .store-badge-text {
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
    }

    .badge-text-top {
          font-size: 0.73rem;
    }    

    .badge-text-bottom {
        font-size: var(--font-size-xl);
    }
}


/* ------------------------------- Features ------------------------------ */

.features-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    
    .features-heading {
        font-size: var(--font-size-h1);
        color: var(--color-text-gray900);
        margin: 0 1rem 1rem 1rem;
    }

    .features-paragraph {
        font-size: var(--font-size-large);
        color: var(--color-text-gray600);
        margin: 0 1rem 3rem 1rem;
        text-align: center;
        max-width: 750px;
    }


    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0 1rem;
        margin: 0 .5rem;

    }

    .feature-group {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }

    .features-icon {
        display: block;
        background-color: var(--color-features-icon-background);
        padding: 0.8rem 1rem;
        border-radius: 8px;      
    }

    .feature-text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 261px;

        .feature-h5 {
            font-size: var(--font-size-h5);
            color: var(--color-text-gray900);
        }

        .feature-p {
            font-size: var(--font-size-medium);
            color: var(--color-text-gray700);
        }
    }
}


/* ------------------------------ How Does It Work ------------------------------ */

.how-does-it-work-container {
    background-color: var(--color-secondary-background);
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .how-does-it-work-h1 {
        font-size: var(--font-size-h1);
        color: var(--color-text-gray900);
    }

    .hdiw-iphone-center {
        margin: 2rem 0;

    }

    .how-does-it-work-h4 {
        font-size: var(--font-size-h4);
        color: var(--color-text-gray900);
        margin-bottom: 1rem;
    }

    .how-does-it-work-p {
        font-size: var(--font-size-medium);
        color: var(--color-text-gray700);
        max-width: 640px;
    }
}


/* ------------------------------ App Features ------------------------------ */

.app-features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    text-align: center;
}

.app-features-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;

    .app-features-first-heading {
        font-size: var(--font-size-h2);
        color: var(--color-text-gray900);
        max-width: 420px;
    }

    .app-features-list {
        font-size: var(--font-size-medium);
        color: var(--color-text-gray700);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;

    }
    
    .app-features-checkbox {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid var(--color-brand-primary);
        position: relative;
    }

    .app-features-checkbox::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 5px;
        height: 9px;
        border-right: 2px solid var(--color-brand-primary);
        border-bottom: 2px solid var(--color-brand-primary);
        transform: translate(-50%, -50%) rotate(45deg);
    }
}
    
.learn-more-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-brand-primary);
    width: 160px;
    height: 45px;
    border-radius: 5px;
}
    
.learn-more {
    display: flex;
    text-decoration: none;
    gap: 0.5rem;
    font-size: var(--font-size-small);
}

.learn-more:visited {
    color: var(--color-primary-background);
}


.app-features-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;

    .app-features-second-heading {
        font-size: var(--font-size-h2);
        color: var(--color-text-gray900);
        max-width: 530px;
    }

    .app-features-2-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .app-features-2-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .app-features-icon {
        display: block;
        background-color: var(--color-features-icon-background);
        padding: 0.8rem 1rem;
        border-radius: 8px;  
    }

    .app-features-2-text {
        max-width: 240px;
        font-size: var(--font-size-medium);
        color: var(--color-text-gray700);
    }
}


/* ------------------------------ Testimonials ------------------------------ */

.testimonials-container {
    background-color: var(--color-secondary-background);
}

.testimonials-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0.5rem;
}

.testimonials-heading {
    font-size: var(--font-size-h1);
    color: var(--color-text-gray900);
    max-width: 310px;
    margin-bottom: 5rem;
    text-align: center;
}

.testimonials-boxes {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.testimonials-box {
    background-color: var(--color-primary-background);
    max-width: 420px;
    border-radius: 8px;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    .testimonials-quotation {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-brand-primary);
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 4px;
        position: absolute;
        left: 5%;
        top: -10%;

        .quotation-icon {
            height: 1.25rem;
            width: 1.25rem;
        }
    }

    .testimonials-inner-box {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .testimonials-text {
            font-size: var(--font-size-large);
            color: var(--color-text-gray700);
        }

        .testimonials-user-box {
            display: flex;
            gap: 1rem;

            .testimonials-user {

                .testimonials-user-name {
                    font-size: var(--font-size-medium);
                    font-weight: 700;
                    color: var(--color-text-gray900);
                    margin-bottom: 0.1rem;
                }

                .testimonials-user-job {
                    font-size: var(--font-size-small);
                    color: var(--color-text-gray600);
                }
            }
        }
    }
}
